#grid-container {
    border: solid 2px #000;
    margin: 0 auto;
}

.padPropsForm {
    border: solid 1px #AAA;
    display: inline-block;
    margin: auto 50px auto 0;

    padding: 3px 5px 3px 5px;
}

#padFormSpacer {
    display: inline-block;
    width: 100px;
}

.padPropsInput {
    width: 30px;
    margin-right: 10px;
}

#padOptions {
    display: inline-block;
    position: relative;
    margin: auto 0;
}

body {
    font-family: sans-serif;
    font-size: 10pt;
    letter-spacing: 1px;
    margin: 0;
}

header {
    background-color: #eee;
    border-style: solid;
    border-color: #000;
    border-width: 1px 0;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;

}

h1 {
    font-weight: 100;
    letter-spacing: 7px;
}

nav a {
    padding: 0 5px;
}

.a {
    display: inline-block;
    padding: 0 5px;

}

nav {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #eee;
    border: solid 1px #fff;
    font-family: sans-serif;
    font-size: 10pt;

    -webkit-transition-duration: 0.2s;
    transition-duration: 0.4s;
}

button:hover {
    border-color: #888;
}


/*POPOUT MENU STYLES*/
.cont {
  position: absolute;
  background-color: transparent;
  padding: 0;
  height: 0px;
  width: 0px;
  transition: 0.3s ease;
}

.popoutShow {
  padding: 10px;
  height: 100px;
  width: 100px;
  z-index: 3;
}

.col {
  float: left;
  height: 100%;
  width: 33.333333%;
  background-color: transparent;
  align: center;
}

.box {
  position: relative;
  width: 80%;
  height: 80%;

  margin: auto;
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

.boxShowOutline {
  outline: 1px solid #000;
}

.box:hover {
    outline: 2px solid #000;
}


.stretch {
  width: 100%;
  display: inline-block;
}

.row {
  width: 100%;
  height: 33.33333%;
  text-align: center;
}


#hue1 {
    background-color: #c60;
}

#hue2 {
    background-color: #009;
}

#hue3 {
    background-color: #09c;
}

#hue4 {
    background-color: #f00;
}

#hue5 {
    background-color: #ff0;
}

#hue6 {
    background-color: #FFF;
}

#hue7 {
    background-color: #390;
}

#hue8 {
    background-color: #cf0;
}

#hue9 {
    background-color: #000;
}